<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Registro de empleados</h5>
  <div class="card-body">
      <form [formGroup]="registerForm">
          <div class="form-row">

              <div class="form-group col-6">
                  <label>Nombre</label>
                  <input type="text" formControlName="nombre" [(ngModel)]="cliente.nombre"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                  <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                      <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                  </div>
              </div>
              <div class="form-group col-6">
                  <label>Apellido</label>
                  <input type="text" formControlName="apellido" [(ngModel)]="cliente.apellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
                  <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                      <div *ngIf="f.apellido.errors.required">El apellido es requerido</div>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" [(ngModel)]="cliente.email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Requiere el correo</div>
                  <div *ngIf="f.email.errors.email">No es valido el correo</div>
              </div>
          </div>

           <div class="form-group">
            <label>Fecha</label>
            <br>
            <input matInput [matDatepicker]="picker" formControlName="createAt" [(ngModel)]="cliente.createAt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.createAt.errors }" style="display:inline; width: 300px;">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div *ngIf="submitted && f.createAt.errors" class="invalid-feedback">
                <div *ngIf="f.createAt.errors.required">Requiere la fecha</div>
                <div *ngIf="f.createAt.errors.createAt">No es valido el correo</div>
            </div>
          </div>

          <div class="form-group">
            <label>Region</label>
            <!-- <input type="text"  /> -->
            <select class="custom-select" formControlName="region" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.region.errors }">
              <option selected>Choose...</option>
              <option *ngFor="let region of regiones" [ngValue]="region.id">{{region.nombre}}</option>
            </select>
            <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                <div *ngIf="f.region.errors.required">Requiere el correo</div>
                <div *ngIf="f.region.errors.region">No es valido el correo</div>
            </div>
        </div>

          <div class="text-center">
              <button class="btn btn-primary mr-1"  (click)='onSubmit()'  *ngIf="!cliente.id else elseBlock">Register</button>

              <ng-template #elseBlock>
                <button class="btn btn-primary mr-1"  (click)='updateCliente()'>Editar</button>
              </ng-template>

              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
      </form>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
      <a href="https://jasonwatmore.com/post/2020/04/19/angular-9-reactive-forms-validation-example" target="_top">El ejemplo original</a>
  </p>
  <p>
      <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div>
